html {
  overflow: hidden;
}

body {
  margin: 0;
}

a:hover {
  color: hsl(220, 95%, 30%);
}

[data-amplify-authenticator] {
  --amplify-components-authenticator-router-box-shadow: 0 0 16px var(--amplify-colors-overlay-10);
  --amplify-components-authenticator-router-border-width: 0;
  --amplify-components-authenticator-form-padding: var(--amplify-space-medium) var(--amplify-space-xl) var(--amplify-space-xl);
  --amplify-components-button-primary-background-color: #009CE6;
  --amplify-components-fieldcontrol-focus-box-shadow: 0 0 0 2px #009CE6;
  --amplify-components-tabs-item-active-border-color: #009CE6;
  --amplify-components-tabs-item-color: #009CE6;
  --amplify-components-tabs-item-active-color: #009CE6;
  --amplify-components-button-link-color: #009CE6;
}

@keyframes jiggle {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}

.jiggle {
  animation: jiggle 0.5s ease-in-out;
}